<h1>Dashboard</h1>

<%= link_to 'Create plant', new_private_plant_path %>

<% if current_user.plants.present? %>
  <h2>Plant list</h2>
  <div class="plants-wrapper">
    <% current_user.plants.each do |plant| %>
      <div class="plant-wrapper">
        <%= link_to ( private_plant_path(plant.uuid) ) do %>
          <div class="plant-name">
            <%= plant.name %>
          </div>
          <% if plant.power_logs.blank? %>
            No log yet.
          <% else %>
            <%= render partial: 'parts/graphs/power_logs_of_plant',
                locals: { plant: plant }
                %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
