<h1>Dashboard</h1>

<%= link_to 'Create new plant', new_private_plant_path %>

<% if current_user.plants.present? %>
  <h2>Plant list</h2>
  <div class="plants-wrapper">
    <% current_user.plants.each do |plant| %>
      <div class="plant-wrapper">
        <div class="plant-name">
          <%= link_to plant.name, private_plant_path(plant.uuid) %>
        </div>
        <div class="last-power-log">
          <% if plant.power_logs.blank? %>
            No log yet.
          <% else %>
            <%= plant.power_logs.last %>
          <% end %>
          <div>
      </div>
    <% end %>
  </div>
<% end %>
