<h1>Login</h1>
<%= link_to 'facebook',
    "https://www.facebook.com/dialog/oauth?
     client_id=#{ ENV['FACEBOOK_APPID'] }&
     redirect_uri=#{ oauth_callback_url(provider: :facebook) }&
     scope=email"
    %>
