<h1>solar log（ソーラーログ）とは？</h1>
<p>
  太陽光パネルで発電したデータのログを取ることで、発電量などを確認できるサービスです。<br>
  iframeを使うことで、ご自分のwebサイトにログの内容を表示して頂くことが可能です。
</p>
<%= link_to '会員登録', signup_path %>
<%= link_to 'ログイン', signin_path %>
