<h1>What is "solar log"?</h1>
<p>
  It is a logging system of power supply from solar panels.<br>
  You can check the log power on internet.<br>
  By using iframe, you can show the log at your website.
</p>
<%= link_to 'login', login_path %>
