<div class="form-box">
  <%= text_field_tag 'plant[name]',
      @plant.name,
      placeholder: 'name'
      %>
</div>
<div class="form-box">
  <%= text_area_tag 'plant[description]',
      @plant.description,
      placeholder: 'description'
      %>
</div>
